.checkbox {

  flex-grow: 1;
  
  &__input {
    display: none;
  }

  &__label-container {
    border: 3px solid black;
    border-radius: 10px;
    width: 16px;
    height: 16px;
    padding: 4px;
    display: flex;
    align-items: center;
    background-color: red;
    box-shadow: 2px 2px;
  }

  &__img {
    max-width: 150%;
  }
}