@use '../base';
.home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  &__figure {
    text-align: center;
  }

  &__figure-title {
    font: 90px $font-roboto;
    margin: 0;
    font-weight: 900;
    text-align: center;
    color: $black;
  }

  &__figure-text {
    text-align: center;
    margin: 0;
    color: $black;
  }

  &__figure-img {
    width: 160px;
  }

  &__button-link {
    text-decoration: none;
    color: black;
  }
}
