.task {
  height: 100vh;

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
  }

  &__card-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px auto;
    padding: 7px 0;
    border-bottom: 1px solid grey;
  }

  &__card-input {
    display: flex;
    align-items: center;
  }

  &__card-todos {
    overflow: auto;
    height: 75%;
  }

  &__card-content {
    height: 70vh;
  }

  &__card-complete {
    text-decoration: line-through;
    margin: 0 8px;
    word-break: break-word;
  }

  &__card-incomplete {
    margin: 0 8px;
    word-break: break-word;
  }

  &__card-form {
    display: flex;
    align-items: center;
    margin: 20px 0;
  }

  &__card-form-input {
    margin-right: 15px;
  }
}